html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 5px 5px 5px 5px;
    padding-top: 20px;
}

.container {
  width: 100%;
  /* background: aqua; */
  margin: auto;
  padding: 10px;
}

.one {
  width: 70%;
  /* background: red; */
  float: left;
  overflow:hidden;
}

.two {
  margin-left: 15px;
  /* background: black; */
  float: right;
  width: 29%;
  overflow:hidden;
}

.node {
    font-family: Arial, sans-serif;
    font-size: 10px;
    stroke: #FFF;
    stroke-width: 1.5px;
}

.nodes circle {
    stroke: #f00;
    stroke-width: 1.5px;
}

.link {
    stroke: #AAA;
    stroke-opacity: .6;
}

.text {
    font-family: Arial, sans-serif;
    font-size: 10px;
    stroke: #FFF;
    stroke-width: 1.5px;
}
